//- サイト全体に関する情報はここへ記述
//- サイト名
- sitetitle = 'ぷよの日2026 公開生放送 ～ぷよぷよ35周年記念スペシャル～｜SEGA'
//- サイトURL
- siteurl =   'https://puyoq-sega.jp/'
//- サイト説明文
- sitedescription = '2026年2月1日「ぷよの日2026 公開生放送 ～ぷよぷよ35周年記念スペシャル～」を開催いたします'
//- サイトキーワード
- sitekeywords = 'ぷよぷよ,ぷよの日,パズルゲーム,ぷよ,イベント,SEGA'

//- webp対応するかどうか
- webp = false;
//- 画像ディレクトリ
- imgdir = 'assets/img/';

//- twitterシェアメッセージ
- tweetMessage = ''
//- twitterシェアハッシュタグ-ハッシュタグのカンマ区切り。Hash,Tag,です
- hashtags=''
//- Twitterアカウント。「@twitterIdさんから」が追加される
- twitterId = ''
//- 関連するTwitterアカウント。
- related = ""

- share_twitter_url = `https://twitter.com/share?url=${siteurl}&text=${tweetMessage}&hashtags=${hashtags}`//- &via=${twitterId}&related=${related}`
- share_facebook_url = `https://www.facebook.com/share.php?u=${siteurl}`

//- GoogleMap API Key（必ず変更してください）
//- - googlemap_api_key = '1789237896'
